
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="navbar-wagon">
  <!-- Logo -->

  <a href="/" class="navbar-wagon-brand hvr-icon-buzz">
    <p class= "hvr-icon"><%= image_tag "logowhite.png", height: '32' %></p>
  </a>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "<i class='fas fa-cogs'></i> Parts Store".html_safe, parts_path %>
    <a>&nbsp;&nbsp;&nbsp;<i class="fas fa-coins" id="coins"> <%= current_user.coins %></i></a>
  <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/<%= current_user.username %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "<i class='fas fa-columns'></i> Dashboard".html_safe, new_user_registration_path, id: "dropdown-list"  %></li>
          <li><%= link_to "<i class='fas fa-sign-out-alt'></i> Sign out".html_safe, destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
