
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="navbar-wagon">
  <!-- Logo -->

  <a href="/" class="navbar-wagon-brand hvr-icon-buzz">
    <p class= "hvr-icon"><%= image_tag "logowhite.png", height: '32' %></p>
  </a>

  <div class="expedition-link">
    <%= link_to "<i class='fas fa-space-shuttle'></i>".html_safe, new_expedition_path  %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="navlink">
      <%= link_to "<i class='fas fa-columns'></i> Dashboard".html_safe, new_user_registration_path %>
    </div>
    <div class="navbar-wagon-item">
      <%= link_to "<i class='fas fa-medal'></i> Ranking".html_safe, players_path, id: "dropdown-list"  %>
    </div>
    <div class="navbar-wagon-item">
      <%= link_to "<i class='fas fa-cogs'></i> Parts Store".html_safe, parts_path %>
    </div>
    <div class="navbar-wagon-item gold">
      <i class="fas fa-coins" class="coins"> <%= current_user.coins %></i>
    </div>

  <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if !current_user.photos.last.nil? %>
          <%= cl_image_tag(current_user.photos.last.photo.file.public_id, :gravity=>"faces", :crop=>"fill", class:"avatar", data: {toggle: 'dropdown'}) %>
        <% else %>
            <%= image_tag "avatar-none.jpg", class:"avatar", data: {toggle: 'dropdown'} %>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to new_photo_path do %>
              Change picture
            <% end %>
          </li>
          <li><%= link_to "<i class='fas fa-sign-out-alt'></i> Sign out".html_safe, destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
