<div class="wrapper-boardin">
  <div class="container-pickparts">
    <div class="instructions">
      <h1 class="pick-part-title">Pick your parts</h1>
      <h2 class="pick-parts-instructions">Your ship has 5 main parts: <span class="part-name-highlight">propulsor</span>, <span class="part-name-highlight">shield</span>, <span class="part-name-highlight">shell</span>, <span class="part-name-highlight">bumper</span> and <span class="part-name-highlight">wings</span>. Use your coins to build a starting ship with a combination of the parts below. Chose wisely! </h2>
    </div>

    <div class="coins">
      <h2 class="user-boardin-coin-block">
        <span class="coins-left-text">Amount left to spend: <br></span>
        <i class="fas fa-coins coin-boardin"></i>
        <span class="user-boardin-coin"> <%= @user.coins %> </span>
        <span class="spend-hint"><br>Pick awesome parts</span>
      </h2>
    </div>

    <div class="pickparts">
      <div class="part-category-tabs">
        <ul class="boardin-category-list list-inline">
          <li class="boardin-category-item boardin-active">
            Propulsors
          </li>
          <li class="boardin-category-item">
            Shields
          </li>
          <li class="boardin-category-item">
            Shells
          </li>
          <li class="boardin-category-item">
            Bumpers
          </li>
          <li class="boardin-category-item">
            Wings
          </li>
        </ul>
      </div>
      <div class="part-pick-listing">
        <div class="basic-part-category-group" id="listing-propulsors">
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[0].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[0].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[0].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[0].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[0].stat_acc %></span>
                  <% elsif @basicparts[0].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[0].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[0].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[0].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[0].stat_spd %></span>
                  <% elsif @basicparts[0].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[0].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[0].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[0].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[0].stat_man %></span>
                  <% elsif @basicparts[0].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[0].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[0].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[0].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[0].stat_atk %></span>
                  <% elsif @basicparts[0].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[0].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[0].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[0].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[0].stat_def %></span>
                  <% elsif @basicparts[0].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[0].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[0].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[1].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[1].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[1].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[1].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[1].stat_acc %></span>
                  <% elsif @basicparts[1].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[1].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[1].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[1].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[1].stat_spd %></span>
                  <% elsif @basicparts[1].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[1].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[1].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[1].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[1].stat_man %></span>
                  <% elsif @basicparts[1].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[1].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[1].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[1].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[1].stat_atk %></span>
                  <% elsif @basicparts[1].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[1].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[1].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[1].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[1].stat_def %></span>
                  <% elsif @basicparts[1].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[1].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[1].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[2].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[2].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[2].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[2].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[2].stat_acc %></span>
                  <% elsif @basicparts[2].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[2].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[2].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[2].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[2].stat_spd %></span>
                  <% elsif @basicparts[2].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[2].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[2].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[2].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[2].stat_man %></span>
                  <% elsif @basicparts[2].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[2].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[2].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[2].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[2].stat_atk %></span>
                  <% elsif @basicparts[2].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[2].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[2].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[2].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[2].stat_def %></span>
                  <% elsif @basicparts[2].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[2].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[2].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="basic-part-category-group" id="listing-shells">
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[3].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[3].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[3].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[3].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[3].stat_acc %></span>
                  <% elsif @basicparts[3].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[3].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[3].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[3].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[3].stat_spd %></span>
                  <% elsif @basicparts[3].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[3].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[3].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[3].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[3].stat_man %></span>
                  <% elsif @basicparts[3].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[3].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[3].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[3].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[3].stat_atk %></span>
                  <% elsif @basicparts[3].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[3].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[3].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[3].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[3].stat_def %></span>
                  <% elsif @basicparts[3].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[3].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[3].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[4].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[4].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[4].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[4].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[4].stat_acc %></span>
                  <% elsif @basicparts[4].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[4].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[4].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[4].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[4].stat_spd %></span>
                  <% elsif @basicparts[4].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[4].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[4].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[4].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[4].stat_man %></span>
                  <% elsif @basicparts[4].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[4].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[4].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[4].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[4].stat_atk %></span>
                  <% elsif @basicparts[4].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[4].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[4].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[4].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[4].stat_def %></span>
                  <% elsif @basicparts[4].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[4].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[4].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[5].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[5].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[5].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[5].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[5].stat_acc %></span>
                  <% elsif @basicparts[5].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[5].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[5].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[5].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[5].stat_spd %></span>
                  <% elsif @basicparts[5].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[5].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[5].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[5].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[5].stat_man %></span>
                  <% elsif @basicparts[5].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[5].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[5].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[5].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[5].stat_atk %></span>
                  <% elsif @basicparts[5].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[5].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[5].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[5].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[5].stat_def %></span>
                  <% elsif @basicparts[5].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[5].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[5].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="basic-part-category-group" id="listing-shields">
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[6].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[6].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[6].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[6].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[6].stat_acc %></span>
                  <% elsif @basicparts[6].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[6].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[6].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[6].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[6].stat_spd %></span>
                  <% elsif @basicparts[6].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[6].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[6].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[6].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[6].stat_man %></span>
                  <% elsif @basicparts[6].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[6].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[6].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[6].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[6].stat_atk %></span>
                  <% elsif @basicparts[6].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[6].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[6].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[6].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[6].stat_def %></span>
                  <% elsif @basicparts[6].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[6].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[6].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[7].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[7].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[7].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[7].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[7].stat_acc %></span>
                  <% elsif @basicparts[7].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[7].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[7].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[7].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[7].stat_spd %></span>
                  <% elsif @basicparts[7].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[7].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[7].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[7].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[7].stat_man %></span>
                  <% elsif @basicparts[7].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[7].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[7].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[7].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[7].stat_atk %></span>
                  <% elsif @basicparts[7].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[7].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[7].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[7].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[7].stat_def %></span>
                  <% elsif @basicparts[7].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[7].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[7].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[8].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[8].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[8].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[8].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[8].stat_acc %></span>
                  <% elsif @basicparts[8].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[8].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[8].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[8].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[8].stat_spd %></span>
                  <% elsif @basicparts[8].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[8].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[8].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[8].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[8].stat_man %></span>
                  <% elsif @basicparts[8].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[8].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[8].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[8].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[8].stat_atk %></span>
                  <% elsif @basicparts[8].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[8].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[8].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[8].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[8].stat_def %></span>
                  <% elsif @basicparts[8].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[8].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[8].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="basic-part-category-group" id="listing-bumpers">
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[9].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[9].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[9].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[9].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[9].stat_acc %></span>
                  <% elsif @basicparts[9].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[9].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[9].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[9].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[9].stat_spd %></span>
                  <% elsif @basicparts[9].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[9].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[9].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[9].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[9].stat_man %></span>
                  <% elsif @basicparts[9].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[9].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[9].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[9].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[9].stat_atk %></span>
                  <% elsif @basicparts[9].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[9].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[9].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[9].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[9].stat_def %></span>
                  <% elsif @basicparts[9].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[9].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[9].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[10].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[10].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[10].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[10].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[10].stat_acc %></span>
                  <% elsif @basicparts[10].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[10].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[10].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[10].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[10].stat_spd %></span>
                  <% elsif @basicparts[10].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[10].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[10].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[10].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[10].stat_man %></span>
                  <% elsif @basicparts[10].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[10].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[10].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[10].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[10].stat_atk %></span>
                  <% elsif @basicparts[10].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[10].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[10].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[10].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[10].stat_def %></span>
                  <% elsif @basicparts[10].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[10].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[10].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[11].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[11].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[11].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[11].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[11].stat_acc %></span>
                  <% elsif @basicparts[11].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[11].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[11].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[11].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[11].stat_spd %></span>
                  <% elsif @basicparts[11].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[11].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[11].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[11].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[11].stat_man %></span>
                  <% elsif @basicparts[11].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[11].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[11].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[11].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[11].stat_atk %></span>
                  <% elsif @basicparts[11].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[11].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[11].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[11].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[11].stat_def %></span>
                  <% elsif @basicparts[11].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[11].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[11].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="basic-part-category-group" id="listing-wings">
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[12].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[12].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[12].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[12].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[12].stat_acc %></span>
                  <% elsif @basicparts[12].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[12].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[12].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[12].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[12].stat_spd %></span>
                  <% elsif @basicparts[12].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[12].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[12].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[12].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[12].stat_man %></span>
                  <% elsif @basicparts[12].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[12].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[12].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[12].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[12].stat_atk %></span>
                  <% elsif @basicparts[12].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[12].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[12].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[12].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[12].stat_def %></span>
                  <% elsif @basicparts[12].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[12].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[12].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[13].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[13].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[13].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[13].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[13].stat_acc %></span>
                  <% elsif @basicparts[13].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[13].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[13].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[13].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[13].stat_spd %></span>
                  <% elsif @basicparts[13].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[13].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[13].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[13].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[13].stat_man %></span>
                  <% elsif @basicparts[13].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[13].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[13].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[13].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[13].stat_atk %></span>
                  <% elsif @basicparts[13].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[13].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[13].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[13].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[13].stat_def %></span>
                  <% elsif @basicparts[13].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[13].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[13].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="basic-part-listing">
            <div class="basic-part-listing-header">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="boardin-part-category"> <%= @basicparts[14].category %></h3>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <h3 class="boardin-part-serial"> <%= @basicparts[14].serial %></h3>
                </div>
                <div class="col-xs-3">
                  <h3 class="boardin-part-price">
                    <i class="fas fa-coin coin-boardin"></i>
                    <span class="part-cost"> <%= @basicparts[14].initial_price %> </span>
                  </h3>
                </div>
                <div class="col-xs-2">
                  <h3>
                    <div class="btn btn-primary select-part-btn">Select</div>
                  </h3>
                </div>
              </div>

            </div>
            <div class="basic-part-listing-body">
              <ul class="boardin-part-stats list-inline">
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Acceleration: </span>
                  <% if @basicparts[14].stat_acc > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[14].stat_acc %></span>
                  <% elsif @basicparts[14].stat_acc < 0 %>
                    <span class="stat-negative"> <%= @basicparts[14].stat_acc %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[14].stat_acc %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Speed: </span>
                  <% if @basicparts[14].stat_spd > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[14].stat_spd %></span>
                  <% elsif @basicparts[14].stat_spd < 0 %>
                    <span class="stat-negative"> <%= @basicparts[14].stat_spd %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[14].stat_spd %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Maneuvrability: </span>
                  <% if @basicparts[14].stat_man > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[14].stat_man %></span>
                  <% elsif @basicparts[14].stat_man < 0 %>
                    <span class="stat-negative"> <%= @basicparts[14].stat_man %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[14].stat_man %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Attack: </span>
                  <% if @basicparts[14].stat_atk > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[14].stat_atk %></span>
                  <% elsif @basicparts[14].stat_atk < 0 %>
                    <span class="stat-negative"> <%= @basicparts[14].stat_atk %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[14].stat_atk %> </span>
                  <% end %>
                </li>
                <li class="boardin-part-eachstat">
                  <span class="stat-name">Defense: </span>
                  <% if @basicparts[14].stat_def > 0 %>
                    <span class="stat-positive"> +<%= @basicparts[14].stat_def %></span>
                  <% elsif @basicparts[14].stat_def < 0 %>
                    <span class="stat-negative"> <%= @basicparts[14].stat_def %></span>
                  <% else %>
                    <span class="stat-neutral"> <%= @basicparts[14].stat_def %> </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="final-submit" class="text-center" style="margin-top: 10px;">
      <div class="final-submit-btn btn btn-danger">
        Submit!
      </div>
    </div>
  </div>
</div>

