<div class="wrapper-home">
  <div class="container container-content">
    <div class="row row-dash">
      <h2 id="title-enhancement">Your pilot license</h2>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card parent">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.username}", class: "img-circle profile-pic" %>
            <i class="fab fa-galactic-senate ranking"></i>
            <p id="username-enhancement"><%= current_user.username %></p>
            <p id="stats-enhancement">Stats:</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <ul id="nice-list">
              <li id="coins-container"> <%= image_tag "mycoins" %> <p id="font-improvement"><%= current_user.coins %> Coins</p></i></li>
              <!-- <li><i class="fas fa-medal"><p id="font-improvement"><%#= current_user.score %></p></i></li> -->
              <li id="ships-container"> <%= image_tag "myship"%> <p id="font-improvement"><%= current_user.ship.name %></p></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <ul id="nice-list">
              <li><h4>Speed: **********</h4></li>
              <li><h4>Acell: **********</h4></li>
              <li><h4>Shield: ******</h4></li>
              <li><h4>Wing: ****</h4></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12">
          <div class="card">
            <h1 id="title-enhancement">YOUR PARTS</h1>
            <ul id="nice-list">
              <li><h4>Speed: **********</h4></li>
              <li><h4>Acell: **********</h4></li>
              <li><h4>Shield: ******</h4></li>
              <li><h4>Wing: ****</h4></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>



