<div class="wrapper-home">
  <div class="container container-content">
    <div class="row row-dash">
      <h2>Pilot Info</h2>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.username}", class: "img-circle", id: "profile" %>
            <h3><%= current_user.username %></h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <ul>
              <li><i class="fas fa-coins"> <%= current_user.coins %></i></li>
              <li><i class="fas fa-medal"> <%= current_user.score %></i></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row row-dash">
      <h2>Ship Info</h2>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <img src="https://img1.cgtrader.com/items/666066/f55674da32/spaceship-fighter-3d-model-low-poly-fbx-mat-prefab.jpg" class="img user-avatar-img" id="navbar-wagon-menu" data-toggle="dropdown">
            <h3> <%= current_user.ship.name %>  </h3>
            <h4> <%=current_user.ship.category  %></h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <ul>
              <li><h4>Speed: **********</h4></li>
              <li><h4>Acell: **********</h4></li>
              <li><h4>Shield: ******</h4></li>
              <li><h4>Wing: ****</h4></li>
            </ul>
          </div>
        </div>
    </div>
      <!-- add parts here -->
    </div>
  </div>
</div>



