<header class="masthead" id="animate-area">
  <div class="wrapper-login">
    <div class="container-login">

      <h1 class="text-uppercase">Sign in</h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "login-btn" %>
        </div>

        <%= render "devise/shared/links" %>
<% end %>


    </div>
  </div>
</header>

