<div class="container">
	<div id="userRank">
		<div class="user">
			<% @users.order(:score).first(10).each do |player| %>
				<div class="pic-and-name">
					<%= image_tag("https://www.placecage.com/100/100", class: "rounded") %>
					<div class="rank-username <%= player == current_user ? 'current-user' : '' %>">
						<p>
							<%= player.username %>
						</p>
					</div>
				</div>
				<div class="rank-score <%= player == current_user ? 'current-user' : '' %>">
					<p>
						<%= player.score %>
					</p>
				</div>
			<% end %>
		</div>
	</div>
</div>