<div class="ranking-all">
	<div class="container center">
		<div id="userRank">
			<h1 id="title-enhancement">Legendary Cosmonauts</h1>
      <% user_count = 0 %>
			<% @users.order("score DESC").each do |player| %>
				<div class="user<%= player == current_user ? ' current-user' : '' %>">
          <div class="user-color rank-color-<%=user_count%>">
             <h2 class="position-placer text-center">
               <% if user_count == 0 %>
                1st
               <% elsif user_count == 1 %>
                2nd
               <% elsif user_count == 2 %>
                3rd
               <% else %>
                <%= (user_count + 1) %>th
               <% end %>
             </h2>
          </div>
          <% user_count += 1 %>
					<%= link_to(player_path(player)) do %>
						<div class="pic-and-name card">
							<%= image_tag("https://kitt.lewagon.com/placeholder/users/#{player.username}", class: "profile-pic") %>
							<h5>
								<%= player.username %>
							</h5>
						</div>
					<% end %>
					<div class="card ship-name">
						<p>
							<i class="fas fa-rocket"></i>
							<%= player.ship.name.upcase %>
							<i class="fas fa-rocket"></i>
						</p>
					</div>
					<div class="card player-score">
						<p>
							<%= player.score %>
						</p>
						<p>
							pts.
						</p>
					</div>

				</div>
		  <% end %>
    </div>
	</div>
</div>
