<div class="wrapper">
	<div class="container">
		<h1 id="title-enhancement">Legendary Cosmonauts</h1>	
		<% @users.order("score DESC").each do |player| %>		
			<div class="row user <%= player == current_user ? ' current-user' : '' %>">
			    <div class="col-xs-12 col-sm-4">
			      	<!-- insert <div class="card"> -->
					<div class="card">
						<div>
							<%= image_tag("https://kitt.lewagon.com/placeholder/users/#{player.username}", class: "profile-pic") %>
							<h5>
								<%= player.username %>
							</h5>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="card">
						<div>
				      		<h2>
				      			<%= player.ship.name %>
				      			<i class="fas fa-rocket"></i>
				      		</h2>
						</div>
					</div>
				</div>	
				<div class="col-xs-12 col-sm-4">				
					<div class="card">
						<div>
				      		<h2><%= player.score %></h2>
				      		<h2>pts.</h2>
						</div>						
					</div>
				</div>
	    	</div>
		<% end %>
	</div>
</div>