<div class="container">
	<div id="userRank">
		<% @users.order(:score).first(10).each do |player| %>
			<div class="user">
				<% if player.id == current_user.id %>
					<div class="pic-and-name">
						<%= image_tag("https://www.placecage.com/100/100", class: "img-rounded") %>
						<div class="rank-username current-user">
							<p>
								<%= player.username %>
							</p>
						</div>
					</div>
					<div class="rank-score current-user">
						<p>
							<%= player.score %>
						</p>
					</div>
				<% else %>
					<div class="pic-and-name">
						<%= image_tag("https://www.placecage.com/100/100") %>
						<div class="rank-username">
							<p>
								<%= player.username %>
							</p>
						</div>
					</div>
					<div class="rank-score">
						<p>
							<%= player.score %>
						</p>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>