<div class="wrapper-home">
  <div class="container container-content">
    <div class="row row-dash">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <h2 id="title-enhancement">Your pilot license</h2>
        </div>
      </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card parent">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@user.username}", class: "img-circle profile-pic" %>
            <i class="fab fa-galactic-senate ranking"></i>
            <p id="username-enhancement"><%= @user.username %></p>
            <p id="stats-enhancement">Stats:</p>
            <div id="your-ship-enhancement">
              <ul id="nice-list">
                <li id="ships-container"> <%= image_tag "myship", class: "img-ship" %> <p id="font-improvement"><%= @user.ship.name %></p></li>
              </ul>
            </div>
            <div id="your-coins-enhancement">
              <ul id="nice-list">
                <li id="coins-container"> <%= image_tag "mycoins" %> <p id="font-improvement"><%= @user.coins %> Coins</p></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <ul id="nice-list">
              <li><h4>Acc: </h4></li>
              <li><h4>Spd: </h4></li>
              <li><h4>Man: </h4></li>
              <li><h4>Atk: </h4></li>
              <li><h4>Def: </h4></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
    </div>
    <div class="row row-dash">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <h1 id="title-enhancement">Your parts</h1>
          <div class="equiped-parts">
            <% @equiped_parts.each do |part| %>
              <div class="each-equiped-part">
                <div class="parts-headers">
                  <% if part.rarity == "Rare" %>
                    <h2 class="serial-rare"> <%= part.serial %></h2>
                  <% elsif part.rarity == "Unique" %>
                    <h2 class="serial-unique"> <%= part.serial %></h2>
                  <% else %>
                    <h2 class="serial-common"> <%= part.serial %></h2>
                  <% end %>
                  <% if part.rarity == "Rare" %>
                    <h2 class="serial-rare text-capitalize"> <%= part.category %></h2>
                  <% elsif part.rarity == "Unique" %>
                    <h2 class="serial-unique text-capitalize"> <%= part.category %></h2>
                  <% else %>
                    <h2 class="serial-common text-capitalize"> <%= part.category %></h2>
                  <% end %>
                  <% if part.condition >= 70 %>
                    <h2 class="condition-high"> <%= part.condition %>%</h2>
                  <% elsif part.condition >= 30 && part.condition < 70 %>
                    <h2 class="condition-med"> <%= part.condition %>%</h2>
                  <% else %>
                    <h2 class="condition-low"> <%= part.condition %>%</h2>
                  <% end %>
                  <h2> <%= part.rarity %></h2>
                </div>
                <div class="parts-footers">
                  <% if part.stat_acc > 0 %>
                    <h2 class="dash-stat">Acc: <span class="stat-positive">+<%= part.stat_acc %></span></h2>
                  <% elsif part.stat_acc == 0 %>
                    <h2 class="dash-stat">Acc: <span class="stat-neutral"><%= part.stat_acc %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Acc: <span class="stat-negative"><%= part.stat_acc %></span></h2>
                  <% end %>
                  <% if part.stat_spd > 0 %>
                    <h2 class="dash-stat">Spd: <span class="stat-positive">+<%= part.stat_spd %></span></h2>
                  <% elsif part.stat_spd == 0 %>
                    <h2 class="dash-stat">Spd: <span class="stat-neutral"><%= part.stat_spd %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Spd: <span class="stat-negative"><%= part.stat_spd %></span></h2>
                  <% end %>
                  <% if part.stat_man > 0 %>
                    <h2 class="dash-stat">Man: <span class="stat-positive">+<%= part.stat_man %></span></h2>
                  <% elsif part.stat_man == 0 %>
                    <h2 class="dash-stat">Man: <span class="stat-neutral"><%= part.stat_man %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Man: <span class="stat-negative"><%= part.stat_man %></span></h2>
                  <% end %>
                  <% if part.stat_atk > 0 %>
                    <h2 class="dash-stat">Atk: <span class="stat-positive">+<%= part.stat_atk %></span></h2>
                  <% elsif part.stat_atk == 0 %>
                    <h2 class="dash-stat">Atk: <span class="stat-neutral"><%= part.stat_atk %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Atk: <span class="stat-negative"><%= part.stat_atk %></span></h2>
                  <% end %>
                  <% if part.stat_def > 0 %>
                    <h2 class="dash-stat">Def: <span class="stat-positive">+<%= part.stat_def %></span></h2>
                  <% elsif part.stat_def == 0 %>
                    <h2 class="dash-stat">Def: <span class="stat-neutral"><%= part.stat_def %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Def: <span class="stat-negative"><%= part.stat_def %></span></h2>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="unequiped-parts">
            <% @unequiped_parts.each do |part| %>
              <div class="each-unequiped-part">
                <div class="parts-headers">
                  <% if part.rarity == "Rare" %>
                    <h2 class="serial-rare"> <%= part.serial %></h2>
                  <% elsif part.rarity == "Unique" %>
                    <h2 class="serial-unique"> <%= part.serial %></h2>
                  <% else %>
                    <h2 class="serial-common"> <%= part.serial %></h2>
                  <% end %>
                  <% if part.rarity == "Rare" %>
                    <h2 class="serial-rare text-capitalize"> <%= part.category %></h2>
                  <% elsif part.rarity == "Unique" %>
                    <h2 class="serial-unique text-capitalize"> <%= part.category %></h2>
                  <% else %>
                    <h2 class="serial-common text-capitalize"> <%= part.category %></h2>
                  <% end %>
                  <% if part.condition >= 70 %>
                    <h2 class="condition-high"> <%= part.condition %>%</h2>
                  <% elsif part.condition >= 30 && part.condition < 70 %>
                    <h2 class="condition-med"> <%= part.condition %>%</h2>
                  <% else %>
                    <h2 class="condition-low"> <%= part.condition %>%</h2>
                  <% end %>
                  <h2> <%= part.rarity %></h2>
                  <%= link_to "Sell", parts_sell_path(part.id), class: "btn btn-primary btn-sell" %>

                </div>
                <div class="parts-footers">
                  <% if part.stat_acc > 0 %>
                    <h2 class="dash-stat">Acc: <span class="stat-positive">+<%= part.stat_acc %></span></h2>
                  <% elsif part.stat_acc == 0 %>
                    <h2 class="dash-stat">Acc: <span class="stat-neutral"><%= part.stat_acc %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Acc: <span class="stat-negative"><%= part.stat_acc %></span></h2>
                  <% end %>
                  <% if part.stat_spd > 0 %>
                    <h2 class="dash-stat">Spd: <span class="stat-positive">+<%= part.stat_spd %></span></h2>
                  <% elsif part.stat_spd == 0 %>
                    <h2 class="dash-stat">Spd: <span class="stat-neutral"><%= part.stat_spd %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Spd: <span class="stat-negative"><%= part.stat_spd %></span></h2>
                  <% end %>
                  <% if part.stat_man > 0 %>
                    <h2 class="dash-stat">Man: <span class="stat-positive">+<%= part.stat_man %></span></h2>
                  <% elsif part.stat_man == 0 %>
                    <h2 class="dash-stat">Man: <span class="stat-neutral"><%= part.stat_man %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Man: <span class="stat-negative"><%= part.stat_man %></span></h2>
                  <% end %>
                  <% if part.stat_atk > 0 %>
                    <h2 class="dash-stat">Atk: <span class="stat-positive">+<%= part.stat_atk %></span></h2>
                  <% elsif part.stat_atk == 0 %>
                    <h2 class="dash-stat">Atk: <span class="stat-neutral"><%= part.stat_atk %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Atk: <span class="stat-negative"><%= part.stat_atk %></span></h2>
                  <% end %>
                  <% if part.stat_def > 0 %>
                    <h2 class="dash-stat">Def: <span class="stat-positive">+<%= part.stat_def %></span></h2>
                  <% elsif part.stat_def == 0 %>
                    <h2 class="dash-stat">Def: <span class="stat-neutral"><%= part.stat_def %></span></h2>
                  <% else %>
                    <h2 class="dash-stat">Def: <span class="stat-negative"><%= part.stat_def %></span></h2>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
