<div class="wrapper-home">
  <div class="container container-content">
    <div class="row row-dash">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <h2 id="title-enhancement">Your pilot license</h2>
        </div>
      </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card parent">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@user.username}", class: "img-circle profile-pic" %>
            <i class="fab fa-galactic-senate ranking"></i>
            <p id="username-enhancement"><%= @user.username %></p>
            <p id="stats-enhancement">Stats:</p>
            <div id="your-ship-enhancement">
              <ul id="nice-list">
                <li id="ships-container"> <%= image_tag "myship", class: "img-ship" %> <p id="font-improvement"><%= @user.ship.name %></p></li>
              </ul>
            </div>
            <div id="your-coins-enhancement">
              <ul id="nice-list">
                <li id="coins-container"> <%= image_tag "mycoins" %> <p id="font-improvement"><%= @user.coins %> Coins</p></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <ul id="nice-list">
              <li><h4>Acc: </h4></li>
              <li><h4>Spd: </h4></li>
              <li><h4>Man: </h4></li>
              <li><h4>Atk: </h4></li>
              <li><h4>Def: </h4></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
    </div>
    <div class="row row-dash">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
    </div>
    <div class="row row-dash">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <h1 id="title-enhancement">Your parts</h1>
          <div class="equiped-parts">
            <% @equiped_parts.each do |part| %>
              <div class="each-equiped-part">
                <div class="equiped-parts-headers">
                  <h2> <%= part.serial %></h2>
                  <h2> <%= part.category %></h2>
                  <h2> <%= part.condition %></h2>
                  <h2> <%= part.rarity %></h2>
                  <!-- <h2>  BUTTON </h2> -->
                </div>
                <div class="equiped-parts-footers">
                  <h2> Acc: <%= part.stat_acc %></h2>
                  <h2> Spd: <%= part.stat_spd %></h2>
                  <h2> Man: <%= part.stat_man %></h2>
                  <h2> Atk: <%= part.stat_atk %></h2>
                  <h2> Def: <%= part.stat_def %></h2>
                </div>
              </div>
            <% end %>
          </div>
          <div class="unequiped-parts">
            <% @unequiped_parts.each do |part| %>
              <div class="each-unequiped-part">
                <div class="unequiped-parts-headers">
                  <h2> <%= part.serial %></h2>
                  <h2> <%= part.category %></h2>
                  <h2> <%= part.condition %></h2>
                  <h2> <%= part.rarity %></h2>
                  <!-- <h2>  BUTTON </h2> -->
                </div>
                <div class="unequiped-parts-footers">
                  <h2> Acc: <%= part.stat_acc %></h2>
                  <h2> Spd: <%= part.stat_spd %></h2>
                  <h2> Man: <%= part.stat_man %></h2>
                  <h2> Atk: <%= part.stat_atk %></h2>
                  <h2> Def: <%= part.stat_def %></h2>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
